<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h2>Dear {{name}},</h2>

    <p>Welcome to our Lead Management System! We're excited to have you on board
      and look forward to helping you effectively manage your leads. As part of
      our commitment to security, we require you to update your password to
      ensure the safety of your account.</p>

    <p><strong>To set a new password, simply follow the steps below:</strong></p>

    <ol>
      <li>Click on the following link:
        <a href={{link}}>Password Update Link</a>
      </li>
      <li>You will be directed to a page where you can enter your new password.
        Please choose a strong and unique password that you can easily remember.</li>
      <li>After updating your password, click on the "Save" or "Update" button
        to confirm the changes.</li>
    </ol>

    <p>Please note that this link is valid for 7 days for security reasons. If
      you don't update your password within the specified time frame, you may
      need to request a new password reset link.</p>

    <p>Once you've updated your password, you can log in to our Lead Management
      System using your registered email address and the new password you just
      set.</p>

    <p>Our Lead Management System provides you with a range of powerful features
      to streamline your lead management process, including organizing and
      tracking leads, generating insightful reports, and much more. We're
      confident that our system will assist you in achieving your business goals
      effectively.</p>

    <p>If you encounter any difficulties while updating your password or have
      any questions regarding our system's functionalities, our dedicated
      support team is here to assist you. Please feel free to reach out to us at
      <a href="mailto:kkgurjar950@gmail.com">[Support Email]</a>
      or call us directly at 0123456789.</p>

    <p>We appreciate your choice to use our Lead Management System, and we're
      committed to providing you with a seamless experience. Thank you for
      trusting us as your lead management partner, and we can't wait to see your
      business flourish.</p>

    <p>Best regards,<br />
      Aditya Kumar Shah<br />
      XL Academy<br />
      0123456789</p>
  </body>
</html>